# =============== #
# Unity generated #
# =============== #

./SteelArena/[Ll]ibrary/
./SteelArena/[Tt]emp/
./SteelArena/[Oo]bj/
./SteelArena/[Bb]uild/
./SteelArena/[Bb]uilds/

./SteelArena/Assets/AssetStoreTools*
UnityGenerated/
*.pidb.meta
sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.tmp

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ============ #
# Builds
# ============ #
*.apk
*.unitypackage
